{{ ansible_managed | comment }}
client
nobind
dev {{ openvpn_dev }}
key-direction 1
remote-cert-tls server
proto {{ tcp_or_udp }}
remote {{ remote_server_ip }} {{ remote_server_port }}
auth-nocache
comp-lzo
reneg-sec 259200

key {{ user_key_file }}
ca {{ user_ca_file }}
cert {{ user_cert_file }}
tls-auth {{ user_tls_auth_file }} 0
